body{
      width: 100%;
      height: 100%;
      margin: 0%;
}
/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Set the color of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #183180;
}

/* Set the color of the track (background behind the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #132766;
}
a{
	text-decoration: none;
}
#section1{
	position: relative;
	padding: 5% 10%;
	height: 100vh;
  	background: linear-gradient(-45deg, #132766, #183180, #2c5c9c, #5483b3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}	
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		} 
}
#section1 h1{
	font-family: Roboto, san-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 90px;
	text-align: left;
	color: #e0d4cb;
}
#section1 h1 span{
	font-family: Noto Serif Display, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 90px;
	text-align: left;
	color: #e0d4cb;
}
#section1 h2{
	font-family: Roboto, san-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	text-align: left;
	color: #e0d4cb;
}
#section1 h2:hover{
	font-family: Noto Serif Display, serif;
	font-style: italic;
	font-weight: 500;
	font-size: 50px;
	text-align: left;
	color: #e0d4cb;
}
#section2{
	position: relative;
	padding: 5% 10%;
	height: 100vh;
  	background: linear-gradient(-45deg, #132766, #183180, #2c5c9c, #5483b3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}	
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		} 
}
#section2 h1{
	font-family: Roboto, san-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 50px;
	text-align: left;
	color: #e0d4cb;
}
#section2 p{
	font-family: Roboto, san-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	text-align: right;
	color: #e0d4cb;
}
#section2 h2{
	font-family: Roboto, san-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	text-align: left;
	color: #e0d4cb;
}
#section2 h2:hover{
	font-family: Noto Serif Display, serif;
	font-style: italic;
	font-weight: 500;
	font-size: 50px;
	text-align: left;
	color: #e0d4cb;
}
#section3{
	background-color: #FFFFFF;
	position: relative;
	padding: 15% 10%;
	height: 100vh;
}
#section3:hover{
	background-color: #A8BF77;
}
#section3 h1{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	text-align: left;
	color: #8E2927;
	font-stretch: normal;
}
#section3 h1:hover{
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 90px;
	text-align: right;
	color: #E72522;
	font-stretch: expanded;
	animation: beat 0.5s ease-out infinite;
}
	@keyframes beat {
  		0% {
    			transform: scale(1);
  		}
  		50% {
    			transform: scale(1.3);
  		}
  		100% {
    			transform: scale(1);
  		}
	}
#section4{
 	position: relative;
  	padding-bottom: 56.25%; /* 16:9 aspect ratio */	
  	background: linear-gradient(-45deg, #c2bfcc, #020202, #c2bfcc, #cdc764);
	background-size: 400% 400%;
	animation: gradient 0.3s ease infinite;
}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}	
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
#section4 marquee{
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 50px;
    	color: #E72522;
}
#section4 iframe {
 	position: absolute;
 	top: 5%;
 	right: 5%;
	left: 5%;
  	width: 90%;
  	height: 90%;
}
#section5{
	background-color: #6A6A6A;
	position: relative;
	padding: 15% 10%;
	height: 100vh;
}
#section5 h1{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 50px;
	text-align: left;
	color: #8E2927;
	top: 20%;
}
#section5 h1 span{
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: 500;
	font-size: 50px;
	text-align: left;
	color: #8E2927;
	top: 20%;
}
#section5 h2{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	text-align: left;
	color: #8E2927;
	font-stretch: normal;
}
#section5 h2:hover{
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 60px;
	text-align: right;
	opacity: 50%;
	font-stretch: expanded;
	animation: beat 1s ease-out infinite;
}
	@keyframes beat {
  		0% {
    			transform: scale(1.3);
  		}
  		50% {
    			transform: scale(1);
  		}
  		100% {
    			transform: scale(1.3);
  		}
	}
#section6{
 	position: relative;
  	padding-bottom: 56.25%; /* 16:9 aspect ratio */
  	background: linear-gradient(-45deg, #c2bfcc, #020202, #c2bfcc, #cdc764);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}	
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
#section6 h1 marquee{
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 50px;
    	color: #E72522;
}
#section6 h2 marquee{
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 50px;
    	color: #E72522;
    	transform: translateY(800px);
	top: 95%;
}
#section6 iframe {
 	position: absolute;
 	top: 5%;
 	right: 5%;
	left: 5%;
  	width: 90%;
  	height: 90%;
}
#section7{
 	position: relative;
  	padding-bottom: 56.25%; /* 16:9 aspect ratio */
  	background: linear-gradient(-45deg, #c2bfcc, #020202, #c2bfcc, #cdc764);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}	
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
.picture-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content:center;

}
img{
	width:320px; 
	height:180px;
	padding: 0px;
}
#section7 h1 marquee{
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 50px;
    	color: #E72522;
	transform: translateY(400px);
    	right: 90%;
    	top: 10%;
    	z-index: 1;
}
#section7 h2 marquee{
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 50px;
    	color: #E72522;
    	transform: translateY(500px);
    	right: 90%;
    	top: 10%;
    	z-index: 1;
}
#section7 h3 marquee{
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 50px;
    	color: #E72522;
    	transform: translateY(600px);
    	right: 90%;
    	top: 10%;
    	z-index: 1;
}
#section8{
	position: relative;
	padding: 5% 10%;
	height: 100vh;
  	background: linear-gradient(-45deg, #132766, #183180, #2c5c9c, #5483b3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}	
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		} 
}
#section8 h1{
	font-family: Noto Serif Display, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 90px;
	text-align: left;
	color: #e0d4cb;
	animation: fadeIn 20s;
}
	@keyframes fadeIn {
		0% {
			opacity: 0%;
		}	
		100% {
			opacity: 100%;
		} 
}
#section9{
 	position: relative;
  	padding-bottom: 56.25%; /* 16:9 aspect ratio */
  	background: linear-gradient(-45deg, #132766, #183180, #2c5c9c, #5483b3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}	
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		} 
}
#section9 iframe {
 	position: absolute;
 	top: 5%;
 	right: 5%;
	left: 5%;
  	width: 90%;
  	height: 90%;
}
#section9 h1{
	font-family: Noto Serif Display, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	text-align: center;
	color: #e0d4cb;
	animation: fadeIn 20s;
}
	@keyframes fadeIn {
		0% {
			opacity: 0%;
		}	
		100% {
			opacity: 100%;
		} 
}
#section10{
 	position: relative;
  	padding-bottom: 56.25%; /* 16:9 aspect ratio */
  	background: linear-gradient(-45deg, #132766, #183180, #2c5c9c, #5483b3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}	
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		} 
}
#section10 h1{
	font-family: Noto Serif Display, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	text-align: left;
	color: #e0d4cb;
	padding-top: 20%;
	margin-left: 5%;
	animation: fadeIn 10s;
}
	@keyframes fadeIn {
		0% {
			opacity: 0%;
		}	
		100% {
			opacity: 100%;
		} 
}
#section10 h2{
	font-family: Noto Serif Display, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	text-align: right;
	color: #e0d4cb;
	margin-right: 5%;
	animation: fadeIn 20s;
}
	@keyframes fadeIn {
		0% {
			opacity: 0%;
		}	
		100% {
			opacity: 100%;
		} 
}
#section11{
 	position: relative;
  	padding-bottom: 56.25%; /* 16:9 aspect ratio */
  	background: linear-gradient(-45deg, #132766, #183180, #2c5c9c, #5483b3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}	
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		} 
}
#section11 h1{
	font-family: Noto Serif Display, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 70px;
	text-align: left;
	color: #e0d4cb;
	padding-top: 20%;
	margin-left: 5%;
	animation: fadeIn 10s;
}
	@keyframes fadeIn {
		0% {
			opacity: 0%;
		}	
		100% {
			opacity: 100%;
		} 
}
#section11 h2{
	font-family: Noto Serif Display, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	text-align: left;
	color: #e0d4cb;
	margin-left: 5%;
	animation: fadeIn 20s;
}
	@keyframes fadeIn {
		0% {
			opacity: 0%;
		}	
		100% {
			opacity: 100%;
		} 
}
#section11 h2:hover{
	font-family: Noto Serif Display, serif;
	font-style: italic;
	font-weight: 500;
	font-size: 60px;
	text-align: left;
	color: #e0d4cb;
	margin-left: 5%;
	font-stretch: expanded;
}
#section12{
 	position: relative;
  	padding-bottom: 56.25%; /* 16:9 aspect ratio */
  	background: linear-gradient(-45deg, #132766, #183180, #2c5c9c, #5483b3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}	
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		} 
}
#section12 h1{
	font-family: Noto Serif Display, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	text-align: left;
	color: #e0d4cb;
	padding-top: 10%;
	margin-left: 5%;
}
*{
	box-sizing: border-box;
	text-transform: capitalize;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 300;
	border: none;
	outline: none;
}
.container{
	width: 500px;
	text-align: right;
	padding-top: 10%;
	margin-left: 5%;
	display: flex;
	align-items: center;
}
.box-container{
	height: 200px;
	width: 100%;
	background-color: #132766;
	box-shadow: 0 5px 15px #111;
	border-radius: 10px;
	padding: 15px;
	display: none;
}
.box-container .box{
	height: 80%;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	background-color: #f8f8f8;
	overflow-y: auto;
	text-align: left;
}
#input{
	width: 100%;
	height: 40px;
	background-color: none;
	font-size: 15px;
	color: #132766;
	border-bottom: 1px solid #f8f8f8;
}
#input:focus{
	border-bottom: 2px solid #f8f8f8;
}
button{
	height: 30px;
	width: 100px;
	background-color: #132766;
	color: #f8f8f8;
	cursor: pointer;
	margin: 10px 0;
	font-size: 15px;
	box-shadow: 0 3px 10px #132766;
	border-radius: 10px;
}
button:hover{
	opacity: 0.8;
}









